.wrapdiv li{
    width: 150px;
    background-color: var(---primary-color);
    height: 211px;
    padding: 30px 60px;
    margin: 20px auto;
    border-radius: 20px;
}

.wrapdiv ul li{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.wrapdiv h1{
    width: 159px;
    height: 159px;
    border-radius: 1000px;
    background-color: white;
}