.welcome{
    width: 60vw;
    max-width: 870px;
    padding: 30px;
    background-color: rgb(255, 255, 255,1);
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.welcome h1{
    font-weight: 400;
    font-size: 44px;
    line-height: 72px;
}

.welcome p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    max-width: 320px;
}

.welcome .image{
    width: 300px;
    max-width: 60vw;
    height: 15vh;
    margin: 5px;
    background-color: #D9D9D9;;
}

.hrline{
    border-radius: 10px;
    width: 100%;
    min-width: 32vw;
    height: 1px;
    margin: 5px 0px;
    background-color: black;
}

.cover{
    max-width: 500px;
    min-width: 32vw;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}

.cover h1{
    font-size: 24px;
    font-family: "Poppins";
    font-weight: 600;
}

.cover p{
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.cover .heading{
    display: flex;
    width: 100%;
    padding: 5px 0px;
    justify-content: space-between;
    align-items: flex-start;
}

button.secondary{
    color: black;
    min-width: fit-content;
    padding: 5px 10px;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    font-weight: 500;
    font-size: 12px;
    border-radius: 33px;
}

.cover li h2{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 5px;
}

.flex li{
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-width: 31vw;
    margin-bottom: 10px;
    justify-content: space-between;
}

.flex li p{
    max-width: 180px;
}



button.secondary:hover{
    border: 1px solid black;
    background-color: white;
}

button.primary{
    color: black;
    padding: 5px 10px;
    background-color: white;
    min-width: fit-content;
    border: 1px solid black;
    border-radius: 33px;
    font-weight: 500;
    font-size: 12px;
}


button.primary:hover{
    border: 1px solid #D9D9D9;
    background-color: #D9D9D9;
}




@media screen and (max-width:800px) {
    .welcome {
        flex-direction: column-reverse;
    }

    .welcome{
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 65vw;
    }

    .welcome h1{
        font-size: 30px;
    }

    .welcome p{
        font-size: 13px;
        line-height: 18px;
    }

    .welcome .image{
         margin: auto;
         margin-bottom: 20px;
         min-width: 60vw;
         height: 30vw;
         margin-top: 10px;
    }
}