.padding{
    margin: 1% 10% 5% 10%;
}

.wrapdiv{
    background-color: var(---primary-color);
    border-radius: 20px;
}

.service{
    padding-top: 10vh;
    text-align: center;
}

@media screen and (max-width:900px) {
    .wrapdiv h1{
        font-size: 28px;
        line-height: 35px;
    }
}