@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,200;1,400&display=swap');


.sidebar{
    background-color: #8E8686;
    width: 200px;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
}




.sidebar h1{
    padding-top: 30px;
}


.sidebar ul{
    margin-top: 5vh;
}




.sidebar h1 div{
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 999px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.div .text{
    margin-left: 20px;
}


.div li{
    padding: 13px 44px;
    border-radius: 0px 99px 99px 0px;
    transition: color 0.3s ease;
}
.sidebar li{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.whitespace{
    width: 122px;
    background-color: rgb(255, 255, 255, 1);
    border-radius: 20px 20px 10px 10px;
    height: 99px;
}

.premium{
    background: #D9D9D9;
    border-radius: 20px;
    max-width: 122px;
    margin: auto;
    margin-top: 2vw;
    padding: 15px;
}


.sidebar li.active{
    background-color: #D9D9D9;
}

.sidebar .div li:hover{
    color: rgb(82, 82, 82);
}

.sidebar h3{
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
}

.sidebar button{
    background-color: white;
    border: 1px solid white;
    padding: 4px 8px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.sidebar button:hover{
    border: 1px solid black;
    color: #8E8686;
}
/* .sidebar li div{

} */


@media screen and (max-width:1000px) {
    .sidebar ul{
        margin-top: 13vh;
    }
}


@media screen and (min-width:1300px) {
    .premium{
        margin-top: 5vw;
    }
    .sidebar ul{
        margin-top: 7vh;
    }
    
}